<!doctype html>
<html lang="<%= config.language || 'en' %>">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<base href="<%= config.root %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>">
<% if (theme.manifest.name) {
%><link rel="manifest" href="<%= url_for('manifest.json') %>">
<% }
%><meta name="theme-color" content="<%= theme.manifest.theme_color %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wincerchan/hexo-theme-inside@1.9.3.5/source/styles.css">
<script src="https://cdn.jsdelivr.net/gh/wincerchan/hexo-theme-inside@1.9.3.5/source/vendor.js" async="async"></script>
<% if (config.feed && config.feed.path) {%>
<link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>">
<%}
%><!-- <%- load_css() %> -->
<% if (page.encrypt === true){ %>
<script src="/js/crypto-js.js"></script>
<script>var onError = function(error) { document.querySelector("#enc_error").innerHTML = "密码错误！"; }; function decrypt() { var passwd = document.querySelector("#enc_passwd input").value; console.log(passwd); doDecrypt(passwd, onError); }
function EnterPress(e){
    var e = window.event || e;
    if (e.keyCode == 13){
        decrypt();
    }
};function doDecrypt(e,t){console.log("in doDecrypt");var n=document.getElementById("enc_content").innerHTML;try{var c=CryptoJS.AES.decrypt(n,e);plaintext=c.toString(CryptoJS.enc.Utf8)}catch(e){return void(t&&t(e))}document.getElementById("enc_content").innerHTML=plaintext,document.getElementById("enc_content").style.display="block",document.getElementById("enc_passwd").style.display="none"}</script>
<%} %>
<!-- <%- css('theme.' + theme.themeHash)%> -->
<% if (config.feed && config.feed.path) {
%><link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>">
<% }
%>
<% if (theme.head.structured_data === true ){ %>
    <%- partial('structured-data') %>
<% } %>
<!-- <%- css('theme.' + theme.themeHash)%> -->
<!-- <%- load_css() %> -->
<!-- <%- ga() %> -->
<!-- <%- js('config.' + theme.hash) %> -->
</head>
<body>
<is-root></is-root>
<!-- <%- load_js() %> -->
</body>
</html>
<script>
window.ga=function(e=0,t=0,n=window,a=document,i=navigator){var g=n.screen,o=encodeURIComponent,r=["ga=UA-101362832-1","dt="+o(a.title),"dr="+o(a.referrer),"ul="+(i.language||i.browserLanguage||i.userLanguage),"sd="+g.colorDepth+"-bit","sr="+g.width+"x"+g.height,"vp="+Math.max(a.documentElement.clientWidth,n.innerWidth||0)+"x"+Math.max(a.documentElement.clientHeight,n.innerHeight||0),"z="+ +new Date];n.__ga_img=new Image,n.__ga_img.src="https://ga.itswincer.com?"+r.join("&")};
window.addEventListener('load', function() {
    console.log(` %c © Wincer's Home | Author: Wincer %c https://github.com/WincerChan/home `,"color: #fff; background-image: linear-gradient(90deg, rgb(18, 103, 144) 0%, rgb(0, 151, 167) 100%); padding:5px 1px;","background-image: linear-gradient(90deg, rgb(18, 103, 144) 0%, rgb(194, 194, 194) 0%); padding:5px 0;");
    let bio = document.querySelector('body > is-root > is-sidebar > div > section > header > div.bio > p');
function upadteBio(){
    fetch('https://api.itswincer.com/hitokoto/v2/')
    .then(response => response.text())
    .then(response => bio.innerHTML = response)
}
setInterval(upadteBio, 30000)
}, false)

</script>
